# Ignore all __pycache__ directories
__pycache__/

# Ignore all .json files
#*.json

# Ignore all .h5 files
*.h5

# Ignore all .pth files
#*.pth

# Ignore all .npz files
*.npz

# Ignore all .npz files
*.pyc